:root{
    --text-color: rgb(255, 255, 255);
    --primary-color: rgb(213, 19, 19);
    --secondary-color: rgb(0, 0, 0);
}

body{
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    text-align: center;
    font-family: Georgia, serif;
    color: black;
    background-color: red;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2em; /* Increased header text size */
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.5em; /* Reduced navbar text size */
}

.navbar a:hover {
    color: white;
}

.image-container {
    text-align: center; /* Centers the image horizontally */
    margin: 20px 0; /* Adds some spacing around the image */
}

.image-container img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains the aspect ratio */
    border: 2px solid var(--primary-color); /* Optional: Adds a border to the image */
}